* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.clearfix{
  clear:both;
}
.header-banner{
  padding-top:35px;
  padding-bottom:100px;
  color:#ffffff;
  font-family:Helvetica, serif;
  font-weight:100;
  background-image:url("https://grapesjs.com/img/bg-gr-v.png"), url("https://media.istockphoto.com/photos/orange-cranberry-rosemary-and-vodka-cocktail-copper-bar-tools-beige-picture-id1203133082?k=20&m=1203133082&s=612x612&w=0&h=cj6Ve_rqArDnGIDuFlz6zp9pGyYdw1qVE1tSVVv91f4=");
  background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat:repeat-y, no-repeat;
  background-size:contain, cover;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
}
.logo-container{
  float:left;
  width:50%;
}
.logo{
  background-color:#fff;
  border-radius:5px;
  width:130px;
  padding:10px;
  min-height:30px;
  text-align:center;
  line-height:30px;
  color:#4d114f;
  font-size:23px;
}
.menu{
  float:right;
  width:50%;
}
.lead-title{
  margin:150px 0 30px 0;
  font-size:40px;
}
.flex-sect{
  background-color:#fafafa;
  padding:100px 0;
  font-family:Helvetica, serif;
}
.flex-title{
  margin-bottom:15px;
  font-size:2em;
  text-align:center;
  font-weight:700;
  color:#555;
  padding:5px;
}
.flex-desc{
  margin-bottom:55px;
  font-size:1em;
  color:rgba(0, 0, 0, 0.5);
  text-align:center;
  padding:5px;
}
.blk-sect{
  padding-top:100px;
  padding-bottom:100px;
  background-color:#222222;
  font-family:Helvetica, serif;
}
.blk-title{
  color:#fff;
  font-size:25px;
  text-align:center;
  margin-bottom:15px;
}
.blk-desc{
  color:#b1b1b1;
  font-size:15px;
  text-align:center;
  max-width:700px;
  margin:0 auto;
  font-weight:100;
}
.price-cards{
  margin-top:70px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
}
#ix2p{
  justify-content:flex-start;
  align-items:center;
}
#i9t4a{
  align-self:auto;
  text-decoration:none;
  font-family:Georgia, serif;
}
#i82pd{
  font-size:32px;
}
#i48spy{
  align-self:auto;
  text-decoration:none;
  font-family:Georgia, serif;
}
#ih5w5f{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
#izis9a{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#injheg{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#iqob3d{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
#iwuwk4{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#ihq6jh{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
#ideoff{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#i0s1mf{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
#i4m713{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#i2jplt{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
#iul9jg{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#irqxum{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
#ikmg7l{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#ic2yqh{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
#ior6ys{
  font-size:16px;
  margin:5px 0 0 0;
  padding:5px 5px 0 5px;
  align-self:auto;
}
#ib6pbk{
  font-size:14px;
  margin:0 0 0 0;
  padding:5px 5px 0 5px;
}
